.navbar24-wrapper {
  display: contents;
}
.navbar24-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar24-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar24-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar24-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar24-link11 {
  text-decoration: none;
}
.navbar24-link21 {
  text-decoration: none;
}
.navbar24-link31 {
  text-decoration: none;
}
.navbar24-link41 {
  text-decoration: none;
}
.navbar24-link51 {
  text-decoration: none;
}
.navbar24-burger-menu {
  display: none;
}
.navbar24-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar24-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar24-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar24-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar24-logo {
  height: 3rem;
}
.navbar24-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar24-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar24-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar24-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.page-fragment10 {
  display: contents;
}
.page-text10 {
  display: inline-block;
}
.page-fragment11 {
  display: contents;
}
.page-text11 {
  display: inline-block;
}
.page-fragment12 {
  display: contents;
}
.page-text12 {
  display: inline-block;
}
.page-fragment13 {
  display: contents;
}
.page-text13 {
  display: inline-block;
}
.page-fragment14 {
  display: contents;
}
.page-text14 {
  display: inline-block;
}
@media(max-width: 767px) {
  .navbar24-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar24-desktop-menu {
    display: none;
  }
  .navbar24-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar24-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar24-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.content-list1-wrapper {
  display: contents;
}
.content-list1-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list1-ul {
  align-items: flex-start;
}
.page-fragment15 {
  display: contents;
}
.page-text15 {
  display: inline-block;
}
.page-fragment16 {
  display: contents;
}
.page-text16 {
  display: inline-block;
}
.page-fragment17 {
  display: contents;
}
.page-text17 {
  display: inline-block;
}
.page-fragment18 {
  display: contents;
}
.page-text18 {
  display: inline-block;
}
.page-fragment19 {
  display: contents;
}
.page-text19 {
  display: inline-block;
}
.page-fragment20 {
  display: contents;
}
.page-text20 {
  display: inline-block;
}
.page-fragment21 {
  display: contents;
}
.page-text21 {
  display: inline-block;
}
.page-fragment22 {
  display: contents;
}
.page-text22 {
  display: inline-block;
}
.page-fragment23 {
  display: contents;
}
.page-text23 {
  display: inline-block;
  align-self: flex-start;
}
.page-fragment24 {
  display: contents;
}
.page-text24 {
  display: inline-block;
}
.page-fragment25 {
  display: contents;
}
.page-text25 {
  display: inline-block;
}
.page-fragment26 {
  display: contents;
}
.page-text26 {
  display: inline-block;
}

.page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-fragment10 {
  display: contents;
}
.page-text10 {
  display: inline-block;
}
.page-fragment11 {
  display: contents;
}
.page-text11 {
  display: inline-block;
}
.page-fragment12 {
  display: contents;
}
.page-text12 {
  display: inline-block;
}
.page-fragment13 {
  display: contents;
}
.page-text13 {
  display: inline-block;
}
.page-fragment14 {
  display: contents;
}
.page-text14 {
  display: inline-block;
}
.page-fragment15 {
  display: contents;
}
.page-text15 {
  display: inline-block;
}
.page-fragment16 {
  display: contents;
}
.page-text16 {
  display: inline-block;
}
.page-fragment17 {
  display: contents;
}
.page-text17 {
  display: inline-block;
}
.page-fragment18 {
  display: contents;
}
.page-text18 {
  display: inline-block;
}
.page-fragment19 {
  display: contents;
}
.page-text19 {
  display: inline-block;
}
.page-fragment20 {
  display: contents;
}
.page-text20 {
  display: inline-block;
}
.page-fragment21 {
  display: contents;
}
.page-text21 {
  display: inline-block;
}
.page-fragment22 {
  display: contents;
}
.page-text22 {
  display: inline-block;
}
.page-fragment23 {
  display: contents;
}
.page-text23 {
  display: inline-block;
  align-self: flex-start;
}
.page-fragment24 {
  display: contents;
}
.page-text24 {
  display: inline-block;
}
.page-fragment25 {
  display: contents;
}
.page-text25 {
  display: inline-block;
}
.page-fragment26 {
  display: contents;
}
.page-text26 {
  display: inline-block;
}
